.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 320px;
}

.content p {
  margin: 0;
  margin-bottom: 24px;
  color: #999;
}

.action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action button {
  width: 30%;
}
