.success {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.success h2,
.success p,
.success .actions {
  margin: 0;
}

.success h2 {
  font-weight: 500;
  display: none;
}

.success p {
  margin: 16px 0 auto 0;
  font-size: 24px;
  color: #6cce5a;
}

.success .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  column-gap: 16px;
}
