.wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  border-radius: 32px;
  height: 634px;
  overflow: hidden;
  padding: 32px;
  animation: fadeIn ease-out 0.3s;
  background-image: linear-gradient(
    -225deg,
    rgba(255, 230, 250, 0.4) 0%,
    rgba(227, 253, 245, 0.8) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header {
  display: flex;
  height: 40%;
  column-gap: 32px;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
  border-radius: 16px;
}

.image-box img {
  border-radius: 16px;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #000;
  width: 50%;
}

.info-box h1 {
  margin: 8px 0;
  font-weight: 400;
  border-bottom: 1px solid #999;
}

.info-box .info {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.age,
.nation,
.position {
  display: flex;
  flex-direction: column;
}

.age span:first-child,
.nation span:first-child,
.position span:first-child {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 12px;
}

.age span:last-child,
.nation span:last-child,
.position span:last-child {
  font-size: 16px;
  font-weight: 700;
}

.detail-list {
  padding-left: 0;
  list-style-type: none;
  margin: 24px 0;
  overflow-y: scroll;
}

.detail {
  margin-bottom: 16px;
}

.detail:last-child {
  margin-bottom: 0;
}

.detail .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.detail .body span:first-child::first-letter {
  text-transform: uppercase;
}

.detail .stats {
  position: relative;
}

.detail .stats .bar {
  display: block;
  border-radius: 50px;
  width: 100%;
  height: 8px;
  background: rgba(76, 157, 163, 0.4);
}

.detail .stats .percentage {
  position: relative;
  display: block;
  transform: translateY(-100%);
  height: 8px;
  border-radius: 50px;
  transition: all ease-out 0.3s;
}

.detail .stats .attack {
  background-color: rgba(255, 104, 84, 0.8);
}

.detail .stats .defensive {
  background-color: rgba(25, 128, 255, 0.8);
}

.detail .stats .moving {
  background-color: rgba(219, 209, 21, 0.8);
}

.detail .stats .passing {
  background-color: rgba(108, 206, 90, 0.8);
}

.actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
}

.actions button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  transition: all ease 0.3s;
  cursor: pointer;
}

.actions .delete {
  color: #ff6854;
}

.actions .delete:hover {
  color: #db5947;
}
.actions .edit {
  color: #1980ff;
}

.actions .edit:hover {
  color: #186fda;
}
