.App {
  padding-top: 16px;
  overflow: overlay;
  height: 100vh;
}

/* Scrollbar */

::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  font-size: 14px;
  line-height: 24px;
  padding: 8px 16px;
  border: 0.5px solid #dadada;
  border-radius: 6px;
  width: 100%;
}

select {
  font-size: 14px;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 6px;
  border: 0.5px solid #dadada;
  width: 100%;
  appearance: none;
}

button {
  position: relative;
}

button:active {
  transform: translateY(2px);
}
