.section {
  /* position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0; */
}

.section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.section li {
  margin: 8px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.section a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 8px;
  color: rgb(7, 16, 11);
  font-weight: 500;
  transition: background-color ease 0.3s;
}
.section a i {
  margin-right: 16px;
}

.section a i,
.section a span {
  transition: all ease 0.3s;
}

.section a:hover {
  color: white;
  background-color: #65cd95;
}
